/*@import url("./variables.css");*/

:root {
    /* Palettes de couleurs */
    --primary: #e0e3ee;
    --secondary: #b3b6be;
    --tertiary: #bec1ca;
    --grey: #8a8d96;
    --white: #f1f1f1;
    --red: rgb(247, 46, 46);
    
}
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body,html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
}
.main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--grey);
    background-color: var(--primary);
    text-shadow: 1px 1px 1px var(--white);
    font-size: 25px;
}
h3{
    padding: 30px;
}
.form{
    transition: all 0.7s ease-in-out;
    width: 40%;
    height: auto;
    text-align: center;
    padding: 2% 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    font-size: 15px;
    background: var(--primary);
    /*box-shadow: -12px -12px 30px #bec1ca, 12px 12px 30px #f1f1f1;*/
    box-shadow:  20px 20px 40px var(--secondary), -20px -20px 40px var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form:hover {
    box-shadow: -8px -8px 20px var(--white), 8px 8px 20px  var(--secondary);
}
.div{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.div a{
    margin-left: 25%;
    color: var(--grey);
}
label, .checkbox{
    text-align: left;
    margin: 3% 0 3% 3%;
}
sup{
    color: var(--red);
}
input, textarea{
    box-shadow:  inset 5px 5px 10px var(--secondary), inset -5px -5px 10px var(--white); 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 20px;
    background: var(--primary);
    color: rgb(117, 112, 112);
    text-shadow: 1px 1px 0 var(--white);
    border-radius: 30px;
    outline: none;
}
input:focus, textarea:focus{
    box-shadow:  inset 2px 2px 5px var(--white), inset -2px -2px 5px var(--tertiary);
}
button {
    background: var(--primary);
    color:   #8a8d96;
    font-weight: bold;
    box-shadow: -5px -5px 15px var(--white),  5px 5px 15px var(--tertiary);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 60%;
    margin: 4% 0 4% 20%;
    padding: 4%;
    border-radius: 18px;
    outline: none;
}
button:hover {
    box-shadow: -2px -2px 5px var(--tertiary), 2px 2px 5px var(--white);
    color:   #797c85;
}
button:active{
    box-shadow: inset 2px 2px 5px var(--tertiary), inset -2px -2px 5px var(--white);
}
.form a{
    color: gray;
    text-decoration: none;
}
button a:hover{
    color:   #797c85;
}
